header{
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  
  h1{
    font-size: 45px;
    font-weight: 600;
    width: 33%;
    text-align: center;
  }

  .header__logo{
    color:$red;
    font-size: 45px;
    width: 33%;
  }

  .menu__icon{
    display: flex;
    flex-direction: row-reverse;
    width: 33%;
    i {
      font-size: 40px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}

.menu__bar{  
  transition: transform 500ms ease-in-out;
  padding: 20px 50px;
  ul{
    display:flex;
    justify-content: flex-end;
    align-items: center;    
    li{
      padding: 0px 10px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      font-size: 25px;
      
      display: flex;
      justify-content: center;
      align-items: center;
    }
    i{
      padding: 0px 5px;
      font-size:20px;
    }
  }
}

.apear{
  animation: apear 500ms ease-in-out forwards; 
}

@keyframes apear {
  from{
    transform: translate(100%,0);
  }
  to{
    transform: translate(0,0);
  }
}