.upload__container {
  width: 100%;
  .upload__video {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    video {
      max-width: 100%;
      margin-bottom: 10px;      
    }
    button {
      all:unset;
      background-color: $red;
      text-align: center;
      padding:10px;
      max-width: 200px;
      border-radius: 5px;
      margin-bottom: 10px;
      font-size:16px;
      color: $black;
      width: 100%;
      font-weight: 600;

      &:hover{
        cursor: pointer;
      }
    }
  }
}