extends ../base.pug

block content 
  div   
    video#preview
    button#recordBtn Start recording
  if errorMessage
    span=errorMessage
  form(method="POST" enctype="multipart/form-data").user__form
    label(for="videoFile") Video
    input(name="videoFile" id="videoFile" type="file" accept="video/*" required)
    label(for="thumbFile") Thumbnail
    input(name="thumbFile" id="thumbFile" type="file" accept="image/*" required)
    input(name="title" placeholder="Title" type="text", required, maxlength="80")
    input(name="description" placeholder="Description" type="text")
    input(name="hashtags" placeholder="Hashtags, seperated by comma." type="text", required)
    input(type="submit" value="Upload video")
block scripts 
  script(src="/assets/js/recorder.js")
